<div class="create-post-page">
  <div class="header-row">
    <div class="back-button-container">
      <button mat-icon-button class="back-button" routerLink="/posts">
        <mat-icon>west</mat-icon>
      </button>
    </div>
    <h1>Créer un nouvel article</h1>
  </div>
  <div class="create-post-container">
    <form [formGroup]="articleForm" (ngSubmit)="submit()" class="form">
      <mat-form-field appearance="outline">
          <mat-label>Sélectionner un thème</mat-label>
          <mat-select formControlName="subjectId" required [disableOptionCentering]="true">
            <mat-option *ngFor="let subject of subjects" [value]="subject.id">
              {{ subject.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="articleForm.get('subjectId')?.hasError('required')">
            Le thème est requis
          </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput id="title" type="text" formControlName="title" required placeholder="Titre de l'article" />
        <mat-error *ngIf="articleForm.get('title')?.hasError('required')">
          Champ manquant
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <textarea
          matInput
          id="content"
          formControlName="content"
          required
          placeholder="Contenu de l'article"
          rows="12"
        ></textarea>
        <mat-error *ngIf="articleForm.get('content')?.hasError('required')">
          Champ manquant
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="articleForm.invalid">Créer</button>
      <p *ngIf="onError" class="error">An error occurred</p>
    </form>
  </div>
</div>