<div class="login-page">
    <div class="back-button-container">
      <button mat-icon-button class="back-button" routerLink="/">
        <mat-icon>west</mat-icon>
      </button>
    </div>
    <img src="/assets/logo_p6.png" alt="logo" />
    <div class="login-container">
      <h1>Se connecter</h1>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <label for="identifier">E-mail ou nom d'utilisateur</label>
        <mat-form-field appearance="outline">
        <input matInput id="identifier" formControlName="identifier" required placeholder="Email / username" />
        <mat-error *ngIf="form.get('identifier')?.hasError('required')">
          Champ manquant
        </mat-error>
        </mat-form-field>
        <label for="password">Mot de passe</label>
        <mat-form-field appearance="outline">
          <input matInput id="password" type="password" formControlName="password" required placeholder="Password" />
          <mat-error *ngIf="form.get('password')?.hasError('required')">
            Champ manquant
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Se connecter</button>
        <p *ngIf="onError" class="error">An error occurred</p>
      </form>
    </div>
  </div>
 
