/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; }

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Import du theming Angular Material
@import '~@angular/material/theming';

// Charge les styles de base Material
@include mat-core();

// Configuration de la typographie
$custom-typography: mat-typography-config(
  $font-family: 'Inter, sans-serif'
);

// Applique la typo à tout Angular Material
@include angular-material-typography($custom-typography);

// Garantis que tout le HTML prenne la police
html, body {
  font-family: 'Inter', sans-serif;
}