.toolbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid black;

  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;

    img {
      height: 60px;
      max-height: 100%;
      width: auto;
      object-fit: contain;
    }
  }

  .spacer {
    flex: 1;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.burger-button {
  display: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 16px;

  a {
    margin-bottom: 8px;
  }
}

.circular-icon-button {
  background-color: #e0e0e0;
  border-radius: 50%;
  padding: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, box-shadow 0.3s;

  mat-icon {
    color: #424242;
    font-size: 24px;
    transition: color 0.3s;
  }

  &.active-icon {
    box-shadow: 0 0 0 2px #7e57c2; // cercle extérieur violet
    mat-icon {
      color: #7e57c2; // icône violet
    }
  }
}

.sidenav-container {
  height: auto;
}

.button-disconnect {
  color: red;
}

/* Responsive */
@media (max-width: 599px) {
  .nav-links {
    display: none;
  }

  .burger-button {
    display: inline-flex;
  }
}