<div class="subject-card-link">
  <mat-card class="subject-card" appearance="outlined" >
    <mat-card-title> {{ subject.name }}</mat-card-title>

    <mat-card-content>
      {{ subject.description }}
    </mat-card-content>
    
     <mat-card-footer class="subject-card-footer">
      <button mat-raised-button color="primary" [disabled]="subject.isSubscribed" (click)="onSubscribe()">
        {{ subject.isSubscribed ? 'Déjà abonné' : "S'abonner" }}
      </button>
    </mat-card-footer>
  </mat-card>
</div>